name: Build Action

on:
  push:
    branches: [ master, develop ]
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Publish CommandsAPI
    uses: GroupeZ-dev/actions/.github/workflows/build.yml@main
    with:
      project-name: "CommandsAPI"
      publish: true
      publish-on-discord: false
      project-to-publish: "publishAll"
    secrets:
      MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
      MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
      WEBHOOK_URL: ""